li{
	display:block;
	float: left;
	position: relative;
}
.item_shows{
	width:1200px;
	margin: auto;
	text-align: center;
	clear:both;
}
img.hero_img{
	width: 150px;
	height:75px;
}

img.item_img{
	width:80px;
	height:60px;
}

ul{
	width:1200px;
	margin:auto;
	clear:both;
}

table{
	font-size: 50px;
	width:600px;
	border-width: 2px;
	border-style: solid;
	text-align: center;
	margin-bottom: 10px;
}
td.value{
	width:200px;
}


